
body
{
	font-family: Arial;
}

h1{
	margin: 0 auto;
	text-align: center;
}

h2{
	text-align: left;
}


.info
{
	text-align:center;
}

.table {
	margin-left:center;
	margin-right:center;
}


th, td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

th {
  background-color: #ADD8E6;
  color: black;
}


