
body
{
	font-family: Arial;
}

h1{
	margin: 0 auto;
	text-align: center;
}

h2{
	text-align: left;
}


.info
{
	text-align:center;
	position: relative;
}

/* table position */
.table {
	margin-left:30px;
  text-align: center;
  width: 95%;
  border-collapse: collapse;
}


/* table style */
th, td {
  border-bottom: 1px solid #ddd;
  padding: 0px;
  width: 5%;
}

th {
  background-color: #ADD8E6;
  color: black;
}


/* create flexbox */
.flexbox {
  color: slateblue;
  margin: 15px;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

/* make image fill container */
img{
	object-fit: cover;
	width: 100%;
}

/* rectangle style */
rect {
  margin: 0 auto;
  stroke: black;
  stroke-width: 2;
  postion: relative;
  fill: lightblue;
}

/* rectangle hover */
rect:hover {
  fill: blue;
  stroke: orange;
  stroke-width: 2;
  postion: relative;
}

/* circle style */
circle {
  fill: blue;
  fill-opacity: 50%;
  margin: 0 auto;
}

/* circle hover */
circle:hover{
  stroke: red;
  stroke-width: 3;
}

ul{
  text-align: left;
}

svg{
  width: 100%;
}

/* div spacing */
div {
justify-content: space-evenly;
}

