
body
{
	font-family: Arial;
}

h1{
	margin: 0 auto;
	text-align: center;
}

h2{
	text-align: left;
}


.info
{
	text-align:center;
	position: relative;
}

/* table position */
.table {
	margin-left:10px;
	margin-right:90px;
  width: 100%;
}


/* table style */
th, td {
  border-bottom: 0.5px solid #ddd;
  padding: 0px;
}

th {
  background-color: #ADD8E6;
  color: black;
}


/* create flexbox */
.flexbox {
  color: slateblue;
  margin: 15px;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

/* make image fill container */
img{
	object-fit: cover;
	width: 100%;
}

/* rectangle style */
.rect {
  background-color: lightblue;
  margin: 0 auto;
  border: solid 2px black;
  postion: relative;
}

/* rectangle hover */
.rect:hover {
  background-color: blue;
   border: solid 2px orange;
  postion: relative;
}

/* circle style */
.circ {
  background color: red;
  fill-opacity: 50%;
  margin: 0 auto;
}

/* circle hover */
.circ:hover{
  stroke: red;
  stroke-width: 3;
}

ul{
  text-align: left;
}

svg{
  width: 100%;
}

/* div spacing */
div {
justify-content: space-evenly;
}

